# Download and process data from Illinois’ stations (Champaign, Decatur, Midway, O’Hare, 'Bloomington/Norm')

In [1]:
import pandas as pd

In [2]:
# Adapted from http://holoext.readthedocs.io/en/latest/examples/gallery.html
DATA_URL_FMT = (
    'http://mesonet.agron.iastate.edu/'
    'cgi-bin/request/daily.py?'
    'network=IL_ASOS&stations={0}&'
    'year1=2000&month1=1&day1=1&year2=2018&month2=1&day2=1'
)
STATIONS = ['CMI', 'DEC', 'MDW', 'ORD', 'BMI']

In [3]:
df_list = []
for station in STATIONS:
    data_url = DATA_URL_FMT.format(station)
    df = pd.read_csv(data_url, index_col='day', parse_dates=True)
    df.iloc[:, 1:] = df[df.columns[1:]].apply(
        pd.to_numeric, errors='coerce').fillna(0)
    df.index.name = 'date'
    df['year'] = df.index.year
    df['month'] = df.index.month
    df['precip_cumsum_in'] = df['precip_in'].cumsum()
    df = df.reset_index()  # 7-day rolling average
    df_list.append(df)
df = pd.concat(df_list)

In [4]:
df.head()

,date,station,max_temp_f,min_temp_f,max_dewpoint_f,min_dewpoint_f,precip_in,avg_wind_speed_kts,avg_wind_drct,min_rh,avg_rh,max_rh,climo_high_f,climo_low_f,climo_precip_in,year,month,precip_cumsum_in
0,2000-01-01,CMI,54.0,40.0,48.0,-99.0,0.00,10.4543,178.361,52.1530,79.7005,92.8002,33.3,18.2,0.09,2000,1,0.00
1,2000-01-02,CMI,60.0,36.0,53.0,-99.0,0.00,14.4997,204.253,60.6015,83.9761,93.1369,33.2,18.1,0.09,2000,1,0.00
2,2000-01-03,CMI,48.0,35.0,46.0,-99.0,0.59,12.9379,340.772,81.4008,92.9263,96.2444,33.2,18.0,0.09,2000,1,0.59
3,2000-01-04,CMI,34.0,20.0,31.0,-99.0,0.00,14.5939,289.829,80.5226,83.5739,88.0248,33.2,17.8,0.09,2000,1,0.59
4,2000-01-05,CMI,28.0,19.0,23.0,-99.0,0.00,11.8946,172.923,77.5292,81.7780,84.7241,33.1,17.7,0.09,2000,1,0.59

In [5]:
df.tail()

,date,station,max_temp_f,min_temp_f,max_dewpoint_f,min_dewpoint_f,precip_in,avg_wind_speed_kts,avg_wind_drct,min_rh,avg_rh,max_rh,climo_high_f,climo_low_f,climo_precip_in,year,month,precip_cumsum_in
6205,2017-12-27,BMI,10.9,-6.0,-6.0,-9.9,0.0000,6.16852,345.754,49.3760,69.2784,82.4207,33.5,16.4,0.07,2017,12,415.4548
6206,2017-12-28,BMI,14.0,-0.9,9.0,-5.1,0.0001,6.73189,151.130,66.1605,75.6914,84.0721,33.4,16.2,0.08,2017,12,415.4549
6207,2017-12-29,BMI,16.0,10.9,14.0,7.0,0.1400,4.28412,224.308,72.7307,85.8857,92.4429,33.3,16.1,0.07,2017,12,415.5949
6208,2017-12-30,BMI,16.0,-2.0,14.0,-9.0,0.0001,12.89140,323.983,59.1993,73.6299,92.4429,33.2,15.9,0.07,2017,12,415.5950
6209,2017-12-31,BMI,6.1,-7.1,-2.9,-13.0,0.0001,11.12880,321.712,65.4725,73.5649,84.1749,33.1,15.8,0.07,2017,12,415.5951

In [6]:
df.describe()

,max_temp_f,min_temp_f,max_dewpoint_f,min_dewpoint_f,precip_in,avg_wind_speed_kts,avg_wind_drct,min_rh,avg_rh,max_rh,climo_high_f,climo_low_f,climo_precip_in,year,month,precip_cumsum_in
count,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000,32504.000000
mean,61.192135,43.049367,47.410449,10.397323,0.124395,8.554150,185.081854,50.408108,68.699078,86.266879,60.943072,41.587235,0.105918,2008.585005,6.522520,442.770956
std,21.112209,21.389347,18.231157,56.933073,2.415229,3.729949,99.803670,17.673094,16.259698,16.438884,18.800221,16.670515,0.028788,5.155822,3.449271,458.381932
min,-7.600000,-1752.000000,-16.960000,-1752.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.700000,14.400000,0.000000,2000.000000,1.000000,0.000000
25%,44.000000,29.000000,33.000000,6.800000,0.000000,6.047350,98.645475,38.425575,60.561025,81.459950,42.300000,25.800000,0.080000,2004.000000,4.000000,101.550000
50%,64.000000,44.000000,49.000000,30.020000,0.000000,8.205450,199.228500,49.933000,70.153850,89.939700,63.100000,41.700000,0.110000,2009.000000,7.000000,303.690000
75%,80.000000,59.000000,62.960000,48.920000,0.020000,10.763525,264.580250,62.714500,79.331350,96.169700,79.900000,58.000000,0.120000,2013.000000,10.000000,541.429100
max,126.000000,83.000000,86.000000,75.020000,240.000000,85.360100,359.994000,100.000000,100.000000,100.000000,87.000000,67.800000,0.230000,2017.000000,12.000000,1688.767300

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32504 entries, 0 to 6209
Data columns (total 18 columns):
date                  32504 non-null datetime64[ns]
station               32504 non-null object
max_temp_f            32504 non-null float64
min_temp_f            32504 non-null float64
max_dewpoint_f        32504 non-null float64
min_dewpoint_f        32504 non-null float64
precip_in             32504 non-null float64
avg_wind_speed_kts    32504 non-null float64
avg_wind_drct         32504 non-null float64
min_rh                32504 non-null float64
avg_rh                32504 non-null float64
max_rh                32504 non-null float64
climo_high_f          32504 non-null float64
climo_low_f           32504 non-null float64
climo_precip_in       32504 non-null float64
year                  32504 non-null int64
month                 32504 non-null int64
precip_cumsum_in      32504 non-null float64
dtypes: datetime64[ns](1), float64(14), int64(2), object(1)
memory usage: 4.7+ MB

In [8]:
df.to_parquet('datasets/weather_station_data.parquet')